html {
  color: #9c9c9c;
  font: Helvetica Neue;
}

html,
body {
  background: #2b2b2b;
}

a {
  color: #8b968d;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
}

a::after {
  background: #9079ad;
  bottom: -4px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
  width: 100%;
}
a:hover::after {
  transform: scale(1, 1);
}

hr {
  border: none;
  border-bottom: 1px solid #666;
  box-shadow: 0px 0px 0px 0px #f9f9f9;
  margin: 0 auto;
  position: relative;
  transition: box-shadow 200ms ease-in-out;
  width: 100%;
}

.wrapper {
  margin-left: 24px;
  min-height: 80px;
}
.title {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  color: #707070;
  margin-top: 0px;
}

.section-wrapper {
  min-height: 200px;
  margin-left: 24px;
}

.section-title {
  font-size: 1.725rem;
  margin-bottom: 0px;
}

.section-body {
  margin-bottom: 5px;
  margin-top: 0.5px;
}

.footer {
  align-items: center;
  color: #8b968d;
  display: flex;
  margin-left: 24px;
}
